body {
	font: 18px Montserrat ;
	line-height: 1.8;
	color : whitesmoke;
}

p {
	font-size: 14px;
}

.margin {
	margin-bottom: 45px;
}

.old-bg-1 {
	background-color: rgb(254,251,234);
	/* Green */
	color: #ffffff;
}

a {
	color : rgb(244,80,255);
	text-shadow: 1px 1px 3px rgb(255 208 151);
}

a:hover {
	color : rgb(244,80,255);
	text-shadow: 1px 1px 3px rgb(255 208 151);
	font-weight: bolder;
}

.bg-1 {
	background-color: #008b8bb8;
	/* color: rgb(255,228,196); */
}

.bg-2 {
	background-color: #474e5d;
	/* Dark Blue */
	color: #ffffff;
}

.bg-3 {
	background-color: #ffffff;
	/* White */
	color: #555555;
}

.bg-4 {
	background-color: #2f2f2f;
	/* Black Gray */
	color: #fff;
}

.btn{
	/* background: linear-gradient(45deg, rgb(255 228 196) 3%, rgb(255 228 196) 1%, rgb(51 122 183/ 99%) 100%); */
	border-radius: 25px;
	border: outset;
    border-color: cornflowerblue;
    border-top: aliceblue;
    border-left: aliceblue;
}

.btn-rider{
	border-radius: 25px;
	border: outset;
    border-color: cornflowerblue;
    border-top: aliceblue;
    border-left: aliceblue;
    
    color: #fff;
    background-color: #5bc0de;
    
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    padding: 6px 12px;
    font-size: 10px;
    line-height: 1.42857143;
    user-select: none;
    
}
.btn-rider:hover{
	color: #fff;
    background-color: #31b0d5;
}


.container-fluid {
	padding-top: 20px;
	padding-bottom: 25px;
	min-height: 85vh;
}

.container-fluid-footer {
	padding-top: 20px;
	padding-bottom: 50px;
}
.search-wrapper{
	display: flex;
    justify-content: space-between;
}

.btn-newmeal{
	display: flex;
    justify-content: center;
    align-items: center;
}

a.navbar-brand span{
    font-style: italic;
    font-size: x-large;
    font-family: cursive;
    color: rgb(255 176 82);
  	text-shadow: 1px 1px 3px rgb(244,80,255);
    font-weight: bold;
}

.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 3px;
}

.navbar-nav li a:hover {
	border-radius: 75px;
	color: rgb(0, 0, 0);	
    text-decoration: none;
    font-weight: bolder;
    background-color: #ffc8fb2e;
}

.alert {
	padding: 5px;
}

.jumbotron p {
	color: rgb(255 176 82);
}

.jumbotron h2,
h3 {
	color : rgb(255 176 82);
}

.navbar-primary{
	background-color: aliceblue;
	border-bottom: 1px solid #0000008c;
}

.form-wrapper{
	padding: 2px 40px;
	border-style:solid;
	border-radius:15px;
	background: linear-gradient(65deg, #286090 6%, #286090 1%, rgb(51 122 183/ 99%) 100%);
	border: outset;
    border-top: unset;
    border-left: unset;
    border-color: dodgerblue;
	box-shadow: inset 6px 6px 6px #34587d, inset -6px -6px 6px #5e6eb5;
}

.table.order{
	font-size: small;
}



.col-md-flex{
	display:flex;
	justify-content: center;
}

#username, #name, #address, #password{
	background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 35px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white ;
}

#notif{
	color: red;
    font-size: xx-large;
    justify-content: center;
    display: flex;
}
